.libro-details {
    display: flex;/* añadir display flex */
    flex-direction: column;
    align-items: center;/* añadir alineación vertical */
    padding: 20px;
    border-radius: 10px;
    background-color: #fbe8d3;
    color: #343a40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* añadir sombra */
    margin-left: 160px;/* añadir margen izquierdo */
    width: 350px;/* añadir ancho */

}

.libro-details img {
    border-radius: 15px;/* añadir borde redondeado a la imagen */
    width: 180px;
    height: 290px;
    object-fit: cover;/* ajustar la imagen al tamaño del contenedor */
    margin-bottom: 10px;/* añadir margen inferior */
}

.libro-Author {
    font-size: 1.2em;/* añadir tamaño de fuente */
    margin-bottom: 10px;/* añadir margen inferior */
}

.libro-Genre {
    font-size: 1.2em;/* añadir tamaño de fuente */
    margin-bottom: 10px;/* añadir margen inferior */
}

.libro-Description{
    font-size: 1.2em;/* añadir tamaño de fuente */
    margin-bottom: 10px;/* añadir margen inferior */
    text-align: center;/* añadir alineación centrada */
}

.libro-Description::before {
    content: "Descripción: ";/* añadir texto antes de la descripción */
    font-weight: bold;/* añadir negrita */
}

.libro-Genre::before {
    content: "Género: ";
    font-weight: bold;
}

.libro-Author::before {
    content: "Autor: ";
    font-weight: bold;
}


.libro-Precio {
    font-size: 1.2em;/* añadir tamaño de fuente */
    margin-bottom: 10px;/* añadir margen inferior */
    font-style: revert;/* añadir estilo de fuente */
    font-weight: bold; /* añadir negrilla */
}