.Own-btn {
    margin: 0 auto;
    margin-top: auto;
    display: block;
    width: auto;
    height: 30px;
    background-color: #8f160d;
    color: wheat;
    border: none;
    border-radius: 5px;
    cursor: pointer;/* se agrega cursor */
    font-size: 1rem;/* se agrega tamaño de fuente */
    font-weight: bold;/* se agrega negrita */
    text-align: center;/* se agrega alineación de texto */
    transition: transform 0.2s ease, background-color 0.2s ease;/* se agrega transición */
}

.Own-btn:hover {
    background-color: #a71b0f;
}

.Own-btn:active {
    transform: scale(0.95);
}